.container {
    max-height: 50vh;
}

.myTable {
    word-wrap: break-word; 
    table-layout:fixed;
    width: 100%;
}

.myTable td, 
.myTable th{
    padding: 0.1rem;
    font-size: 0.3rem;
    word-wrap: break-word;
}

.col-lg-5,
.col-lg-7 {
    padding: 0.1rem;
}

.table td,
.table th{
     padding: 0.25rem;  
}

.card{
    margin-bottom: 0rem;
}

.webPlugin{
    margin: 0;
}