.myTable td, 
.myTable th{
    padding: 0.1rem;
    font-size: 0.46rem;
    /* word-wrap: break-word; */
    white-space: nowrap;
}

.mytable {
    white-space: nowrap;
    word-wrap: break-word;
}

.card{
    margin-bottom: 0rem;
}

.webPlugin{
    margin: 0;
}

.container-fluid {
    margin-top: 0;
}